@using Shopping.WebUI.Extensions

<html>

<head>
	<meta name="description" content="BilgeAdam YZL-8144 Bitirme Projem...">
	<meta name="keywords" content="HTML, CSS, JavaScript, MVC6, C#">
	<meta name="author" content="Evren Uludağ">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>

		label.required:after {
			content: "*\00a0";
			color: red;
			margin-left: 2px;
		}

	</style>

</head>

<body style="background-color:gainsboro" class="d-flex flex-column min-vh-100">

	<header class="p-3 text-bg-dark mb-3">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none fw-bold">

					Shopping

				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-5">
					<li><a href="#" class="nav-link px-2 text-secondary ">Home</a></li>
				</ul>

				<div class="d-none" id="login">
					<partial name="_LoginPartial" model="new LoginViewModel()">
				</div>

				@if (!User.IsLogged())
				{
					<div id="welcome">
						<partial name="_WelcomePartial">
					</div>
				}
				else
				{
					var firstName = User.GetUserFirstName();
					var lastName = User.GetUserLastName();

					<div class="d-flex">

						<div class="mt-2">
							Hoş Geldin @firstName @lastName
						</div>

						@if (User.IsAdmin())
						{
							<div class="ms-3">
								<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="btn btn-danger">Yönetim Paneli</a>
							</div>
						}

						<div>
							<a asp-controller="Auth" asp-action="Logout" class="btn btn-outline-warning ms-3">Çıkış Yap</a>
						</div>
					</div>
				}
			</div>
		</div>

	</header>

	<div class="container">
		@RenderBody()
	</div>

	<footer class="bg-dark text-white text-center mt-auto py-1 fw-bold">
		<p class="text-secondary">Tüm hakları Evren Uludağ'a aittir.</p>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>

		$('#btnGirisYap').click(function () {
			$('#login').removeClass('d-none')
			$('#welcome').addClass('d-none')

		})

		$('#btnIptal').click(function () {
			$('#login').addClass('d-none')
			$('#welcome').removeClass('d-none')
		})

		@if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"]?.ToString()))
		{
			@:toastr.error("@TempData["ErrorMessage"]?.ToString()");
		}

		@if (!string.IsNullOrWhiteSpace(TempData["LoginMessage"]?.ToString()))
		{
			@:toastr.success("@TempData["LoginMessage"]?.ToString()");
		}

	</script>

</body>

</html>