<div class="text-end">
    <button id="btnGirisYap" type="button" class="btn btn-outline-light me-2">Giriş Yap</button>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-warning">Kayıt Ol</a>
</div>